<section class="content">
  <h1><%= t "admin.ratings.header" %></h1>
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="table-container">
          <table class="table table-filter">
            <tbody>
              <% @ratings.each do |rating| %>
                <tr>
                  <td>
                    <%= render "rating", rating: rating %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12">
    <%= will_paginate @ratings, class: "paginate-center" %>
  </div>
</section>
<div class="row paginate-center">
  <div class="form-group margin_top">
    <ul class="list-inline banner-social-buttons">
      <li>
        <%= link_to t("btn_back"), request.referer, class: "btn-default btn" %>
      </li>
    </ul>
  </div>
</div>
