<input type="hidden" class="rating rating_js travel_<%= travel.id %>"
  value="<%= travel.average_rating %>" disabled />
<span class="label label-default">
  <%= t "rating_star", star: travel.average_rating %>
</span>
