$blue-light: #3CAFE6;
$gray: #ccc;

.visit-top {
  text-align: center;
  margin-bottom: 2.5em;
  position: relative;
  h3 {
    font-size: 3em;
    color: #000;
  }
}

.visit-grid h4 {
  font-size: 1.5em;
  text-align: center;
  margin: 0.5em 0em;
  a{
    color: $blue-light;
    &:hover{
      color: #000;
    }
  }
}

.visit-btn {
  float: left;
  a {
    font-size: 1em;
    color: $blue-light;
    &:hover{
      color: #000;
    }
  }
}

.visit-likes {
  float: right;
  span {
    font-size: 1em;
    color: $blue-light;
    &:hover{
      color: #000;
    }
  }
}

.visit-blog {
  width: 85%;
  margin: 0em auto 2em;
}

/*--visit end here--*/
span.lft-bar-visit {
  left: 32%;
  background: $blue-light;
  width: 50px;
  height: 3px;
  display: inline-block;
  position: absolute;
  left: 35%;
  top:50%;
}

span.rit-bar-visit {
  right: 32%;
  background: $blue-light;
  width: 50px;
  height: 3px;
  display: block;
  position: absolute;
  right: 35%;
  top: 50%;
}

.tour-info {
  .info{
    padding-top: 0!important;
    border-top: 1px solid $gray;
    padding-bottom: 15px;
  }

  ul {
    list-style-type: none;
    li {
      padding-bottom: 5px;
    }
  }
}
.title_info {
  border-left: 5px solid $blue-light;
  padding-left: 15px;
  color: $blue-light;
  font-weight: bold;
}
.content-info {
  padding-left: 15px;
}
