<div class="form_search">
  <h1><%= t ".title" %></h1>
  <div class="row">
    <div class="col-md-6">
      <label for="sel1">Place form</label>
        <select class="form-control" id="sel1">
          <option>Place form</option>
          <option>Ha Noi</option>
          <option>Da Nang</option>
        </select>
    </div>
    <div class="col-md-6">
      <label for="sel1">Place to</label>
        <select class="form-control" id="sel1">
          <option>Pace to</option>
          <option>Ha Noi</option>
          <option>Da Nang</option>
        </select>
    </div>
    <div class="col-md-6">
      <label for="sel1">Prices</label>
        <select class="form-control" id="sel1">
          <option>Price</option>
          <option>< 1 Million</option>
          <option>1 - 2 Million</option>
          <option>2 - 4 Million</option>
          <option>4 - 6 Million</option>
        </select>
    </div>
    <div class="col-md-6">
      <label for="sel1">Date of departure</label>
      <input type="text" id="date_of_departure" class="form-control" >
    </div>
  </div>
</div>
